# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
logs
*.logs

pids
*.pids
*.seed


# next.js
**/.next
**/out/



# testing
/coverage

# production
/build
/build/Release

# misc
.DS_Store
.env*

# debug
npm-debug.log*

